.new-btn {
    padding: 22px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    outline: none;
    appearance: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    color:#fff;
    background: #01796F;
    border: 1px solid #01796F;
    &:hover{   
        background-color: #00A572;
        border-color: #00A572;
    }
}
