@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url('assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBMPlexSans-Medium';
    src: url('assets/fonts/IBMPlexSans-Medium.ttf') format('truetype');
}